@charset "utf-8";

body {
    margin: 0;
    background-color: #111;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.3) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.3) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, 0.2) 2px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px 1px;
}

.wrap {
    font-size: 0;
    /* overflow: hidden; */
    height: 50px;
    background: #000;
}

.demo {
    font-size: 0;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 10px solid grey;
    font-size: 50px;
    text-align: center;
}

/* .box {
    실습01, 실습02 스타일 적용
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 10px solid grey;
    margin-top: 300px;
    margin-bottom: 300px;
} */

.box-1 {
    background-color: red;
}

.box-2 {
    background-color: orange;
}

.box-3 {
    background-color: yellow;
    color: #000;
}

.box-4 {
    background-color: green;
}

.box-5 {
    background-color: blue;
}

.box-6 {
    background-color: blueviolet;
}

.box-7 {
    background-color: violet;
}

.box-8 {
    background-color: darkblue;
}

.box-9 {
    background-color: cyan;
}
