@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

.con-min-widt {
    min-width: 1080px;
}

.con {
    width: 1080px;
}

.top-bar {
    background-color: black;
    color: white;
    height: 100px;
}

.top-bar__menu-1 {
    position: relative;
}

.top-bar__menu-1 > ul > li {
    display: inline-block;
    height: 100px;
    line-height: 100px;
}

.top-bar__menu-1 > ul > li > a {
    display: block;
    padding: 0 20px;
    color: white;
}

.top-bar__menu-1 > ul > li:hover  > a {
    background-color: white;
    color: black;
}

.top-bar__menu-1-item-line {
    height: 10px;
    position: absolute;
    width: 0;
    bottom: 0;
    left: -500px;
    transition: left 0.3s, width 0.3s;
    background-color: red;
}








section {
    height: 3000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-0 {
    background-color: black;
}
.section-1 {
    background-color: green;
}
.section-2 {
    background-color: gold;
}


















.wrap {
    font-size: 0;
    /* overflow: hidden; */
    height: 50px;
    background: #000;
}

.box {
    /* display: inline-block; */
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    /* margin-bottom: 20px; */
}

.box-01 {
    background-color: red;
}

.box-02 {
    background-color: orange;
}

.box-03 {
    background-color: yellow;
    color: #000;
}

.box-04 {
    background-color: green;
}

.box-05 {
    background-color: blue;
}

.box-06 {
    background-color: blueviolet;
}

.box-07 {
    background-color: violet;
}

.box-08 {
    background-color: darkblue;
}

.box-09 {
    background-color: cyan;
}
